
.row {
    padding: 15px;
}

.col-6 {
    padding-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background: #ccc;
    border-radius: 6px;
    position: relative;
    margin-bottom: 10px auto;
   
}
 footer .footer-detail{
  font-weight: 600;
 }


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 10px;
}

.signup-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.btn a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

  
  .platform-icons {
    display: flex;
    flex-wrap: wrap; /* Allow icons to wrap on smaller screens */
    margin-top: 5px;
  }
  
  .platform-icons i {
    font-size: 18px;
    margin-right: 5px;
  }